@import "@/assets/style/mixins.scss";

.sidebar {
  width: 164px;
  height: 100%;
  border-right: 1px solid var(--c-border);
  padding-top: 24px;
  @include flex($direction: column);

  :global .link {
    color: #3b4045;
    transition: color var(--transition);

    &:hover {
      color: var(--c-text);
    }
  }

  :global .nav-item {
    width: 100%;
    border-right: 3px solid transparent;
    transition: border-color var(--transition);
    // border-right: 3px solid var(--c-primary);
  }

  :global .public {
    width: 100%;
    margin-top: 16px;
    @include flex($direction: column);

    .title {
      font-size: 11px;
      color: var(--c-icon);
    }

    .nav-item {
      padding: 4px 4px 4px 30px;

      &:first-of-type {
        padding-top: 10px;
        padding-left: 4px;
        @include flex($alignItems: center, $gap: 4px);

        svg {
          transition: fill var(--transition);
          @include svgStyle($size: 20px);
        }
      }

      &:hover {
        &:first-of-type svg {
          @include svgStyle($size: 20px, $color: var(--c-text));
        }
      }
    }
  }
}
