@import "@/assets/style/mixins.scss";

.sidebar {
  width: 164px;
  height: 100%;
  border-right: 1px solid var(--c-border);
  padding-top: 24px;
  @include flex($direction: column);

  :global .link {
    color: #3b4045;
    transition: color var(--transition);

    &:hover {
      color: var(--c-text);
    }
  }

  :global .nav-item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding-left: 4px;
    border-right: 2px solid transparent;
    transition: border-color var(--transition),
      background-color var(--transition);

    &:hover {
      background-color: #f1f2f3;
      border-right-color: var(--c-primary);
    }
  }

  :global .public {
    width: 100%;
    @include flex($direction: column);

    .title {
      margin: 16px 0 4px 4px;
      font-size: 11px;
      color: var(--c-icon);
    }

    .nav-item {
      // height - padding top/bottom
      line-height: 26px;
      padding: 4px 4px 4px 30px;

      &:first-of-type {
        padding-left: 4px;
        @include flex($alignItems: center, $gap: 4px);

        svg {
          transition: fill var(--transition);
          @include svgStyle($size: 20px);
        }
      }

      &:hover {
        &:first-of-type svg {
          @include svgStyle($size: 20px, $color: var(--c-text));
        }
      }
    }
  }

  :global .community {
    width: 100%;
    margin-top: 16px;
    @include flex($direction: column);

    .row {
      width: 100%;
      @include flex($alignItems: center);

      .label {
        font-size: 11px;
        color: #6b6b74;
      }

      svg {
        cursor: pointer;
        @include svgStyle($color: #6b6b74, $size: 14px);
      }

      &:first-child {
        padding-right: 12px;
        justify-content: space-between;
      }

      &:last-child {
        padding: 8px 6px 8px 0;
        gap: 4px;
        cursor: pointer;

        span {
          font-size: 13px;
          color: #3b4045;
          transition: color var(--transition);
        }

        &:hover {
          span {
            color: var(--c-text);
          }
        }
      }

      .verified {
        @include svgStyle($color: var(--c-primary), $size: 20px);
      }
      .discussions {
        transform: translateY(2px);
        @include svgStyle($size: 16px);
      }
      .work {
        padding: 0 2px;
        border-radius: var(--border-radius);
        background-color: var(--c-primary);

        svg {
          @include svgStyle($color: #fff, $size: 13px);
        }
      }
    }
  }

  :global .looking-for {
    width: 100%;
    margin-top: 8px;
    padding-right: 8px;

    button {
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;
    }
  }
}
